<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
  	<listener class-name="project.Listeners"/>
  	
  </listeners>

  <test name="Login">
    <classes>
      <class name="project.Login"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="SearchFlights">
    <classes>
      <class name="project.SearchFlights"/>
    </classes>
  </test>
</suite> <!-- Suite -->
